<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add user</title>
</head>
<body>
    <form action="/user/add" method="post"> 
        <input type="text" placeholder="enter your username here" name="username"/>
        <br>
        <input type="email" placeholder="enter your email here" name="email"/>
        <br>
        <input type="password" placeholder="password" name="password"/>
        <br>
        <button>Submit</button>
    </form>
</body>
</html>